@import url("https://fonts.googleapis.com/css2?family=Inter&family=Roboto:ital,wght@0,100;0,300;0,700;1,100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  padding-top: 0;
  background: #191765;
}

.logo {
  position: static;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin: 25px 0 0 35px;
  font-family: Roboto, sans-serif;
  font-weight: 500;
}

.logo-1 {
  text-decoration: none;
  font-family: Roboto, sans-serif;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  margin-top: 8px;
}

.logo-1:hover {
  animation: rotate 1s linear;
  text-decoration: none;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(180deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.social__icons--link {
  position: static;
  font-size: 18px;
  color: #fff;
  text-decoration: none;
  margin: 25px 0 0 15px;
}

.mobile_menu {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  margin-right: 25px;
}

.humbergure {
  width: 60px;
  height: 3px;
  background: #ffff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.navbar {
  display: flex;
  justify-content: space-between;
  margin-top: 35px;
}

.humbergure::before,
.humbergure::after {
  content: '';
  position: absolute;
  width: 60px;
  height: 3px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255, 101, 47, 0.2);
  transition: all 0.5s ease-in-out;
}

.humbergure::before {
  transform: translateY(-16px);
}

.humbergure::after {
  transform: translateY(16px);
}

.title {
  color: #7d73fc;
  font-size: 48px;
  text-align: center;
  margin-top: 55px;
  font-family: Roboto, sans-serif;
}

.heading {
  color: #fff;
  font-size: 32px;
  text-align: center;
  margin-top: 35px;
  font-family: Roboto, sans-serif;
}

p {
  color: #fff;
  text-align: center;
  margin-top: 35px;
  font-family: Roboto, sans-serif;
  height: 170px;
  font-size: 18px;
  line-height: 28px;
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
}

.skill {
  align-items: center;
  background-image: url("assets/images/Ellipse.svg");
  background-repeat: no-repeat;
  background-position: right;
}

.skill-title {
  display: flex;
  justify-content: space-between;
  margin: 0 47px 0 15px;
  color: #fff;
}

.lang {
  display: flex;
  justify-content: space-between;
  margin: 0  15px 0 15px;
  color: #fff;
}

ul {
  list-style-type: none;
  color: #fff;
}

.knowledge {
  margin-left: 15px;
}

.ski {
  color: #9390ff;
  font-size: 14px;
  font-family: Roboto, sans-serif;
}

.social-media {
  display: flex;
  justify-content: center;
}

.image-arrow {
  display: flex;
  text-align: center;
  justify-content: center;
  height: 30px;
  margin-top: 100px;
}

.image-arrow-2 {
  display: none;
}

.work {
  color: #a2a3ae;
  margin-left: 15px;
  font-size: 20px;
  font-family: Roboto, sans-serif;
}

li {
  margin-top: 10px;
  font-size: 15px;
}

h6 {
  color: #9490ff;
  font-size: 12px;
}

h4 {
  color: #fff;
  font-size: 40px;
  font-family: Roboto, sans-serif;
  text-align: center;
  margin-top: 50px;
}

.placeholder {
  margin-top: 50px;
  display: flex;
  justify-content: center;
}

.heading2 {
  display: none;
}

.list {
  display: flex;
  justify-content: center;
  margin-left: 15px;
  margin-top: 15px;
}

.list li {
  margin: 10px;
  border-right: 1px solid #fff;
  width: 18%;
  border-left: none;
  border-top: none;
  border-bottom: none;
}

.list .ruby {
  border-right: none;
}

.btn {
  width: 10rem;
  height: 48px;
  margin-left: 40px;
  margin-top: 20px;
  background: #7d73fc;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 0;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.form-input {
  text-align: center;
}

.input {
  width: 80%;
  margin-top: 10px;
  padding: 10px;
  background: #fff;
}

textarea {
  height: 100px;
  background: #fff;
}

.textarea {
  background: #fff;
  width: 80%;
  margin-top: 10px;
}

.background-image {
  background: url("assets/images/Ellipse1.svg");
  background-repeat: no-repeat;
  background-position: 0 -50px;
  padding-top: 25px;
  background-position-y: top;
}

.background-image2 {
  background: url("assets/images/Ellipse 19@2x.png");
  background-repeat: no-repeat;
}

.background-image3 {
  background: url("assets/images/Ellipse22.svg");
  background-repeat: no-repeat;
  background-position: right;
  height: 100px;
}

.btn:hover {
  background-color: #7d73fc;
}

.btn:active {
  background-color: #e5e5e5;
}

.btn:enabled {
  background-color: #7d73fc;
}

.email-link {
  color: #fff;
  text-decoration: none;
  text-align: center;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.btn-1 {
  width: 10rem;
  height: 48px;
  margin-left: 25px;
  margin-top: 20px;
  background-color: #fff;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 0;
}

.btn-1:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.btn-1:active {
  background-color: #5e42d7;
}

.btn-1:enabled {
  background-color: #7d73fc;
}

.btn-1:disabled {
  background-color: #2a2b33;
}

.btn-3 {
  width: 10rem;
  height: 48px;
  margin-left: 25px;
  margin-top: 20px;
  background-color: #fff;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  border: 0;
}

.btn-3:hover {
  background-color: #7d73fc;
  box-shadow: 0 8px 16px rgba(125, 115, 252, 0.48);
}

.btn-3:active {
  background-color: #5e42d7;
}

.btn-3:enabled {
  background-color: #7d73fc;
}

.btn-3:disabled {
  background-color: #2a2b33;
}

.desktop-menu {
  display: none;
}

.recent-work {
  text-align: center;
  color: #7d73fc;
  font-size: 38px;
  margin-top: 35px;
  font-family: Roboto, sans-serif;
}

.chat {
  font-size: 0;
}

.see-project {
  text-align: center;
}

.overlay {
  height: 0%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #191765;
  overflow-y: hidden;
  transition: 0.5s;
  background-image: url("assets/images/shape mobile menu-2.svg"), url("assets/images/shape mobile menu-1.svg");
  background-position: left top, right bottom;
  background-repeat: no-repeat, no-repeat;
}

.desktop-link-1 a {
  font-size: 0;
}

.overlay-content {
  position: relative;
  top: 15%;
  width: 100%;
  text-align: left;
  margin-top: 30px;
}

.overlay a {
  padding: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-decoration: none;
  font-size: 24px;
  color: #fff;
  display: block;
  transition: 0.3s;
}

.overlay a:hover,
.overlay a:focus {
  color: deeppink;
}

.closebtn {
  position: absolute;
  color: #fff;
}

.overlay .closebtn {
  position: absolute;
  top: 20px;
  right: 7px;
  font-size: 35px;
}

.span {
  text-align: right;
  width: 5rem;
  margin-right: 10px;
  margin-top: 7px;
}

span {
  color: #fff;
  font-size: 30px;
  cursor: pointer;
  width: 4rem;
  height: 30px;
}

.fa-angle-right {
  float: right;
  margin-right: 15px;
  color: #acb7c3;
  font-size: 20px;
}

.fa-facebook:hover {
  color: rgb(0, 110, 255);
}

.fa-twitter:hover {
  color: rgb(86, 154, 243);
}

.fa-instagram:hover {
  color: rgb(255, 0, 191);
}

.fa-linkedin:hover {
  color: rgb(255, 0, 191);
}

.fa-github:hover {
  color: rgb(255, 123, 0);
}

@media screen and (min-width: 768px) {
  body {
    background-color: lightgray;
    height: 100%;
  }

  .main-container {
    background: #191765;
    margin: -35px 170px;
  }

  .mobile_menu {
    display: none;
  }

  .desktop-menu {
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-right: 20px;
    margin-left: 25px;
    margin-top: 10px;
  }

  .nav-link {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    text-decoration: none;
    padding: 10px;
  }

  .nav-link a {
    margin-left: 20px;
    text-decoration: none;
    color: #fff;
    font-family: Roboto, sans-serif;
    font-size: 15px;
  }

  .background-image .title {
    font-size: 90px;
    font-family: Roboto, sans-serif;
    font-weight: 700;
  }

  .background-image {
    background-image: none;
  }

  .main-lang {
    display: flex;
    justify-content: center;
  }

  .background-image p {
    display: flex;
    justify-content: center;
    width: 450px;
  }

  .skill {
    display: grid;
    grid-template-columns: auto;
    justify-content: center;
    width: 450px;
    background-image: none;
  }

  .form-input {
    align-items: center;
  }

  .input {
    height: 48px;
    width: 50%;
  }

  .textarea {
    height: 136px;
    width: 50%;
    margin-top: 10px;
  }

  .main-lang-1 {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
  }

  .lang ul {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin: 0  30px 0 30px;
    color: #fff;
  }

  .skill-title {
    display: flex;
    justify-content: space-between;
    margin: 0 15px 0 45px;
    color: #fff;
    width: 190px;
  }

  .ski {
    position: relative;
    bottom: 15px;
    color: #7d73fc;
  }

  .section-1 {
    display: flex;
    justify-content: center;
  }

  .image-back {
    background-image: url("assets/images/Ellipse19.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 284px 504px;
  }

  .section-2 {
    display: flex;
    flex-direction: row-reverse;
    padding: 0;
    justify-content: center;
    margin-left: 4rem;
  }

  .background-image2 {
    width: 400px;
    background-image: none;
  }

  .background-image2 p {
    background-image: none;
    text-align: left;
  }

  .background-image2 h4 {
    background-image: none;
    text-align: left;
    margin-left: 15px;
  }

  .placeholder {
    text-align: right;
    margin-top: 50px;
  }

  .image {
    width: 90%;
    height: 80%;
  }

  .form-contact {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer {
    display: flex;
    justify-content: center;
    flex-direction: row;
    margin-bottom: 20px;
  }

  .email-link {
    margin: 95px 0 0 30px;
    font-size: 20px;
    color: #fff;
  }

  .form-text:hover {
    justify-content: center;
    flex-direction: column;
    transform: translate(-30px, 50px);
  }

  .form-paragraph {
    display: flex;
    justify-content: center;
  }

  .form-paragraph p {
    width: 50%;
  }

  .see-project {
    text-align: center;
  }

  .social__icons--link {
    position: static;
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    margin: 95px 0 0 15px;
  }

  .image-arrow-1 {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .image-arrow-2 {
    display: flex;
    justify-content: center;
    margin-top: 100px;
  }

  .social-media {
    display: flex;
    justify-content: center;
  }

  .image-arrow {
    display: flex;
    text-align: right;
    justify-content: center;
    flex-direction: row-reverse;
    margin-top: 100px;
  }

  .work {
    margin-right: 10px;
  }

  .recent-work-1 {
    display: flex;
    justify-content: center;
    text-align: center;
    animation-duration: 3s;
    animation-name: bounce;
    animation-iteration-count: revert;
    animation-direction: alternate;
  }

  @keyframes bounce {
    from {
      margin-left: 100%;
      width: 300%;
    }

    to {
      margin-left: 0;
      width: 100%;
    }
  }

  .recent-work {
    text-align: left;
    color: #7d73fc;
    font-size: 38px;
    margin-top: 35px;
    font-family: Roboto, sans-serif;
    width: 70%;
  }

  .horizontal-line {
    display: flex;
    justify-content: center;
  }

  .horizontal-line-1 {
    display: flex;
    justify-content: center;
  }

  .horizontal {
    margin-top: 40px;
    width: 70%;
    border: 1px solid #646369;
  }

  .horizontal-1 {
    margin-top: 40px;
    width: 350px;
    margin-left: 38px;
    margin-bottom: 25px;
    border: 1px solid #646369;
  }

  .background-image-4 {
    background-image: url("assets/images/circle 1.svg");
    background-repeat: no-repeat;
    background-size: 184px 184px;
    background-position: left;
  }

  .background-image-right {
    background-image: url("assets/images/circle 2 .svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 184px 184px;
  }

  .image-left {
    background-image: url("assets/images/Ellipse20.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 284px 504px;
  }

  .image-10 {
    background-image: url("assets/images/Ellipse22.svg");
    background-repeat: no-repeat;
    background-position: right;
    background-size: 284px 504px;
  }

  .image-7 {
    background-image: url("assets/images/Ellipse21.svg");
    background-repeat: no-repeat;
    background-position: left;
    background-size: 284px 504px;
  }

  .chat {
    font-size: 40px;
    text-align: center;
    color: #9390ff;
    margin-top: 40px;
  }

  .heading {
    display: none;
  }

  .image1 {
    margin-right: 3rem;
    transition: width 2s, height 2s, transform 2s;
  }

  .image1:hover {
    width: 70%;
    height: 70%;
    transform: rotate(180deg);
  }

  .image3 {
    width: 80%;
    height: 50%;
    transition: width 2s, height 2s, transform 2s;
  }

  .image3:hover {
    width: 150%;
    height: 150%;
    transform: rotate(180deg);
  }

  .link {
    transition: all 0.5s ease-out;
  }

  .link:hover,
  .link:focus {
    background-color: #9390ff;
    color: #333;
    width: 15px;
    height: 15px;
  }

  span {
    display: none;
  }

  .navbar {
    font-size: 20px;
  }

  .desktop-link-1 {
    display: flex;
    justify-content: right;
    margin-right: 0;
    padding-right: 0;
  }

  .desktop-link-1 a {
    font-size: 15px;
    margin: 2rem;
    text-decoration: none;
    color: #fff;
    font-family: Roboto, sans-serif;
  }

  .logo {
    display: none;
  }

  .navbar1 {
    display: flex;
    justify-content: space-between;
  }
}
